#restart {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #8662b4;
    box-shadow: 0 0 20px #8662b4;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 2s ease-in-out;
  }
  
  #restart:hover {
    background-color: #5b4086;
    box-shadow: 0 0 20px #5b4086;
  }
  
  #restart:active {
    background-color: #4e356e;
    box-shadow: 0 0 20px #4e356e;
  }
  
  @keyframes glowing {
    0% { box-shadow: 0 0 10px #8662b4; }
    50% { box-shadow: 0 0 20px #8662b4; }
    100% { box-shadow: 0 0 10px #8662b4; }
  }
  