
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    height: 200px;
}
#canvas{
    display: flex;
    border: 2px solid black;
    width: 200px;
    height: 400px;

}

